<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="net.buzzstops.wifi"
      version="0.1.0">
    <name>WiFiPlugIn</name>
    <description>Sample PhoneGap WiFi Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,wifi</keywords>


    <js-module src="www/WifiInfoPlugin.js" name="WifiInfoPlugin">
        <clobbers target="window.calendar" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WifiInfoPlugin">
                <param name="android-package" value="org.devgirl.calendar.Calendar"/>
            </feature>
        </config-file>

        <source-file src="src/android/WifiInfoPlugin.java" target-dir="src/org/devgirl/calendar" />      
     </platform>          
</plugin>
